<div class="dash">
	<div class="slide" ng-repeat="image in images" ng-show="image.visible" style="width:100% !important; margin-bottom:150px !important;">
		<img ng-src="{{image.src}}" style="width:100% !important"/>
        <div class="arrows">
            <a ng-click="prev()"><img src="plugin/slider/img/left-arrow.png"/></a> <a ng-click="next()"><img src="plugin/slider/img/right-arrow.png"/></a>
        </div>
        <div ng-controller="mainController">
        <a ng-click="goToSettings('about_us', $event)"><img src="image/about_us.png" style="width:100% !important"/></a>
        <a ng-click="goToSettings('home', $event)"><img src="image/promotion.png" style="width:49% !important"/></a>
        <a ng-click="goToSettings('product/2', $event)"><img src="image/product.png" style="width:49% !important"/></a>
        </div>
	</div>
</div>