<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="msapplication-tap-highlight" content="no" />
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
  <meta http-equiv="Content-Security-Policy" content="default-src * 'unsafe-inline'; style-src 'self' 'unsafe-inline'; media-src *" />
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/index.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/font-awesome.min.css" type="text/css" rel="stylesheet"/>
  <link href="fonts/MaterialIcons.css" type="text/css" rel="stylesheet"/>
  <link rel="stylesheet" href="css/angular_slide.css">
  <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/angular-route.min.js"></script>
  <script type="text/javascript" src="cordova.js"></script>
  <script type="text/javascript" src="js/index.js"></script>
  <title>Brilliant</title>  
  <script type="text/javascript">
  </script>  
  <script>
/*
*/
  var app = angular
  .module("MyApp", ["ngRoute"])
  .config( function($routeProvider, $locationProvider) {
		$routeProvider
			.when("/dashboard", {
				templateUrl : "view/dashboard.html"
			})
			.when("/about_us", {
				templateUrl : "view/about_us.html"
			})
			.when("/login", {
				templateUrl : "view/login.html"
			})
			.when("/home", {
				templateUrl : "view/home.html"
			})
			.when('/product/:orderId', {
				  templateUrl: 'view/product.html',
				  controller: 'productController'
			})
			.when("/signup", {
				templateUrl : "view/slide.html"
			})
			.otherwise({
				redirectTo: '/dashboard'
			});
  })
  .run(function ($rootScope, $location, $http) {		
        $rootScope.$on("$routeChangeStart", function (event, next, current) {
            $rootScope.authenticated = false;
            $http.get('http://11invoicing.com/demochat/control/check_login.php').success(function (results) {
                if (results.uid) {
                    $rootScope.authenticated = true;
					$rootScope.Login 	  = results.login;
					$rootScope.uid  	  = results.uid;
					$rootScope.name  	  = results.name;
					$rootScope.email 	  = results.email;
					$rootScope.level 	  = results.level;
					$rootScope.push_token = results.push_token;
                } else {
                    var nextUrl = next.$$route.originalPath;
                    if (nextUrl == '/signup' || 
						nextUrl == '/login' || 
						nextUrl == '/dashboard' || 
						nextUrl == '/product/:orderId' || 
						nextUrl == '/about_us') {
                    } else {
                       // $location.path("/login");
                    }
                }
            });
        });
		   
		var phoneapp = {
		    // Application Constructor
		    initialize: function() {
		        this.bindEvents();
		    },
		    // Bind Event Listeners
		    //
		    // Bind any events that are required on startup. Common events are:
		    // 'load', 'deviceready', 'offline', and 'online'.
		    bindEvents: function() {
		        document.addEventListener('deviceready', this.onDeviceReady, false);
		    },
		    // deviceready Event Handler
		    //
		    // The scope of 'this' is the event. In order to call the 'receivedEvent'
		    // function, we must explicitly call 'phoneapp.receivedEvent(...);'
		    onDeviceReady: function() {
		        console.log('Received Device Ready Event');
		        console.log('calling setup push');
		        phoneapp.setupPush();
		    },
		    //  Server API Key : AIzaSyAQQXWPh1HC4sILQjYimwHGyFZ65RuzktI
		    //  Sender ID      : 347107514071
		    setupPush: function() {
		        console.log('calling push init');
		        var push = PushNotification.init({
		            "android": {
		                "senderID": "347107514071"
		            },
		            "browser": {},
		            "ios": {
		                "sound": true,
		                "vibration": true,
		                "badge": true
		            },
		            "windows": {}
		        });
		        console.log('after init');

		        push.on('registration', function(data) {
		            console.log('registration event: ' + data.registrationId);
		            // alert(data.registrationId);
                    $http.post("http://11invoicing.com/demochat/control/push_api_reg.php",{'push_token': data.registrationId})
                    .success(function(data, status, headers, config){
                        console.log("inserted Successfully");
						if (data.status == "ok") {
							//alert("ok");
						}else{
							//alert("nook");
							$route.reload();
						}
                    });

		            var oldRegId = localStorage.getItem('registrationId');
		            if (oldRegId !== data.registrationId) {
		                // Save new registration ID
		                localStorage.setItem('registrationId', data.registrationId);
		                // Post registrationId to your app server as the value has changed
		            }

		            var parentElement = document.getElementById('registration');
		            var listeningElement = parentElement.querySelector('.waiting');
		            var receivedElement = parentElement.querySelector('.received');

		            listeningElement.setAttribute('style', 'display:none;');
		            receivedElement.setAttribute('style', 'display:block;');
		        });

		        push.on('error', function(e) {
		            console.log("push error = " + e.message);
		        });

		        push.on('notification', function(data) {
		            console.log('notification event');
		           // document.getElementById("gcm_msg").value = JSON.stringify(data);
		            navigator.notification.alert(
		                data.message,         // message
		                null,                 // callback
		                data.title,           // title
		                'Ok'                  // buttonName
		            );
		       });
		    }
		};
		phoneapp.initialize();
		 
  })
  .filter('unsafe', function($sce) {
    return function(val) {
        return $sce.trustAsHtml(val);
    };
  })
  .controller('productController', function($scope, $http, $routeParams, $timeout) {
	  //$scope.order_id = $routeParams.orderId;
	  $http.post("http://11invoicing.com/demochat/control/product.php",{'productid': $routeParams.orderId}).success(function(data, status, headers, config){
	  	//console.log("inserted Successfully");
		$scope.images = data;
	  });		 
	  /* Start: slideshow*/
	  $scope.currentIndex=0;
	  $scope.next=function(){
	    $scope.currentIndex<$scope.images.length-1?$scope.currentIndex++:$scope.currentIndex=0;
	  };
	  $scope.prev=function(){
		$scope.currentIndex>0?$scope.currentIndex--:$scope.currentIndex=$scope.images.length-1;
	  };
	  $scope.$watch('currentIndex',function(){
		$scope.images.forEach(function(image){
		  image.visible=false;
		});
		$scope.images[$scope.currentIndex].visible=true;
	  });
	  /* Start: For Automatic slideshow*/
	  var timer;
	  var sliderFunc=function(){
		timer=$timeout(function(){
		  $scope.next();
		  timer=$timeout(sliderFunc,1500);
		},1500);
	  };
	  sliderFunc();
	  $scope.$on('$destroy',function(){
		$timeout.cancel(timer);
	  });
	  /* End: For Automatic slideshow*/
	  /* End: slideshow*/
	  $http.post("control/product_info.php",{'productid': $routeParams.orderId}).success(function(data, status, headers, config){
	  	//console.log("inserted Successfully");
		$scope.productDetails = data;
	  });
  })
  .controller('aboutUs', function($scope, $http, $timeout) {
	  $http.get('http://11invoicing.com/demochat/control/company_info_slide.php').success(function(data) {
		$scope.images = data;
	  });
	  /* Start: slideshow*/
	  $scope.currentIndex=0;
	  $scope.next=function(){
	    $scope.currentIndex<$scope.images.length-1?$scope.currentIndex++:$scope.currentIndex=0;
	  };
	  $scope.prev=function(){
		$scope.currentIndex>0?$scope.currentIndex--:$scope.currentIndex=$scope.images.length-1;
	  };
	  $scope.$watch('currentIndex',function(){
		$scope.images.forEach(function(image){
		  image.visible=false;
		});
		$scope.images[$scope.currentIndex].visible=true;
	  });
	  /* Start: For Automatic slideshow*/
	  var timer;
	  var sliderFunc=function(){
		timer=$timeout(function(){
		  $scope.next();
		  timer=$timeout(sliderFunc,1500);
		},1500);
	  };
	  sliderFunc();
	  $scope.$on('$destroy',function(){
		$timeout.cancel(timer);
	  });
	  /* End: For Automatic slideshow*/
	  /* End: slideshow*/
	  
	  $http.get('control/company_info_data.php').success(function(data) {
		$scope.company_info_data = data;
	  });
  })
  .controller('dash_slide', function ($scope, $http, $timeout){
	  $http.get('http://11invoicing.com/demochat/control/dash_slide.php').success(function(data) {
		$scope.images = data;
	  });
	  /* Start: slideshow*/
	  $scope.currentIndex=0;
	  $scope.next=function(){
	    $scope.currentIndex<$scope.images.length-1?$scope.currentIndex++:$scope.currentIndex=0;
	  };
	  $scope.prev=function(){
		$scope.currentIndex>0?$scope.currentIndex--:$scope.currentIndex=$scope.images.length-1;
	  };
	  $scope.$watch('currentIndex',function(){
		$scope.images.forEach(function(image){
		  image.visible=false;
		});
		$scope.images[$scope.currentIndex].visible=true;
	  });
	  /* Start: For Automatic slideshow*/
	  var timer;
	  var sliderFunc=function(){
		timer=$timeout(function(){
		  $scope.next();
		  timer=$timeout(sliderFunc,1500);
		},1500);
	  };
	  sliderFunc();
	  $scope.$on('$destroy',function(){
		$timeout.cancel(timer);
	  });
	  /* End: For Automatic slideshow*/
	  /* End: slideshow*/
  })
  .controller('DashboardController', function ($scope, $http, $timeout){
	  
  })
  .controller('LoginController',function ($scope, $http, $routeParams, $location, $route){
		$scope.LoginClick = function(add){
			var data = {
				fname:$scope.newLogin.username,
				lname:$scope.newLogin.password
			}
			$http.post("http://11invoicing.com/demochat/control/login.php",{'username': $scope.newLogin.username, 'password': $scope.newLogin.password})
			.success(function(data, status, headers, config){
				console.log("inserted Successfully");
				$scope.newLogin.username = "";
				$scope.newLogin.password = "";
				if (data.status == "ok") {
					$location.path('home');
				}else{
					$location.path('about_us');
					//$route.reload();
				}
			});
			$scope.newLogin = {
				username:"",
				password:""
			};
		};   
  })
  .controller("mainController", ["$scope", "$routeParams", "$location", "$route", "$http", "$rootScope", "$timeout", function($scope, $routeParams, $location, $route, $http, $rootScope, $timeout){

	  $scope.state = {
		socialShareIsOpen: false
	  };
	  
	  $scope.model = {
		chips: ["Item1", "Item2"],
		site: {
		  phone: "+49174406053684",
		  email: ""
		},
		set_sidebar: [
		  {  
				"name": "Home",
				"route": "dashboard",
				"icon": "home",
		  },{
				"name": "Green",
				"route": "green",
				"icon": "plus",
		  },{
				"name": "Signup",
				"route": "signup",
				"icon": "cog",
		  },{
				"name": "Check Login",
				"route": "home",
				"icon": "home",
		  },{
				"name": "Login",
				"route": "login",
				"icon": "envelope",
		  },{
				"name": "Log Out",
				"route": "logout",
				"icon": "cog",
		  }
		],
		set_login: [
		  {  
				"name": "Home",
				"route": "home",
				"icon": "phone",
		  },{
				"name": "About Us",
				"route": "about_us",
				"icon": "info",
		  },{
				"name": "Green",
				"route": "green",
				"icon": "envelope",
		  },{
				"name": "Signup",
				"route": "signup",
				"icon": "share",
		  },{
				"name": "Log Out",
				"route": "logout",
				"icon": "cog",
		  }
		],
		set_logout: [
		  {  
				"name": "Green",
				"route": "signup",
				"icon": "google-wallet",
		  },{
				"name": "About Us",
				"route": "about_us",
				"icon": "info",
		  },{
				"name": "Log Out",
				"route": "login",
				"icon": "envelope",
		  }
		]
	  };
	  	  
	  $scope.goToSite = function(site, $event) {
		  if(site == "logout"){
              $rootScope.authenticated = false;
			  $rootScope.login = "";
			  $rootScope.uid = "";
			  $rootScope.lname = "";
			  $rootScope.fname = "";
			  $rootScope.email = "";
			  $http.get('http://11invoicing.com/demochat/control/logout.php').success(function(data) {
				  $location.path('hoame');
  				  $('.button-collapse').sideNav('hide');
			  });
		  }else{
			  $location.path(site);
 			  $('.button-collapse').sideNav('hide');
		  }
	  };
  }]);
  </script>

</head>

<body ng-app="MyApp" ng-cloak>
  <div class="app-main" ng-controller="mainController">
    <nav>
      <a href="#" class="brand-logo">Demo Chat</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="fa fa-bars" aria-hidden="true"></i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li ng-repeat="data_set_sidebar in model.set_sidebar" ng-click="goToSite(data_set_sidebar.route, $event)"><a>{{data_set_sidebar.name}}</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li style="height:50px"></li>
        <li ng-repeat="data_set_sidebar in model.set_sidebar" ng-click="goToSite(data_set_sidebar.route, $event)"><a>{{data_set_sidebar.name}}</a></li>
      </ul>
    </nav>

    <input type="text" ng-model="push_id">

    <div ng-view></div>
    
    <nav class="nav-extended" style="position: fixed; bottom: 0;">
      <div class="nav-wrapper">
        <ul class="tabs tabs-transparent">
          <li class="tab"><a href="#test1">Test 1</a></li>
          <li class="tab"><a class="active" href="#test2">Test 2</a></li>
          <li class="tab"><a href="#test3">Test 3</a></li>
          <li class="tab"><a href="#test4" onClick="Materialize.toast('I am a toast', 4000)">Test 4</a></li>
        </ul>
      </div>
    </nav>
  </div>
</body>
</html>