
 Login Status : {{login}}<br />
 User ID : {{uid}}<br />
 Email : {{email}}<br />
 Name : {{name}}<br />
 Level : {{level}}<br />
 Push Token : {{push_token}}
<br><br>
          <button class="btn waves-effect waves-light" ng-click="ShareProduct('', '', 'http://11invoicing.com/image/logo.png')" >Share Link
            <i class="material-icons right">lock_open</i>
          </button>
          <button class="btn waves-effect waves-light" ng-click="ShareProduct('http://11invoicing.com/image/logo.png', '', '')">Share Image
            <i class="material-icons right">lock_open</i>
          </button>
          <button class="btn waves-effect waves-light" ng-click="QRScan()">QR Scanner
            <i class="material-icons right">lock_open</i>
          </button>
          <button class="btn waves-effect waves-light" ng-click="Vibrate()">Vibrate
            <i class="material-icons right">lock_open</i>
          </button>
          


