
<div style="width:100%" ng-controller="ProductListCtrl">
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <span style="font-size: x-large;">Product</span>
        </div>
        <div class="col s6" ng-repeat="data_prodlist in prodlist.data">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="http://www.um.es/docencia/barzana/materializecss/images/sample-1.jpg">
            </div>
            <div class="card-content" style="padding: 5%; min-height: 60px; ">
              <span class="card-title activator grey-text text-darken-4" style="font-size: 14px; line-height: 14px; ">{{data_prodlist.prod_name}}<i class="material-icons right" style="font-size: 14px;">more_vert</i>
              <i class="fa fa-wrench right grey-text" aria-hidden="true" ng-click="goToSite('prod/'+data_prodlist.prod_id, $event)"></i></span>
              <div style="margin-top: 15px;">
              <i class="fa fa-shopping-cart right grey-text" aria-hidden="true" ng-click="goToSite('prod/'+data_prodlist.prod_id, $event)"></i>
              <i class="fa fa-thumbs-up right grey-text" aria-hidden="true"> 99</i>
              <i class="fa fa-heart right grey-text" aria-hidden="true"> 88</i>
              </div>
            </div>
            <div class="card-reveal" style="padding: 5%;">
              <span class="card-title activator grey-text text-darken-4" style="font-size: 14px; line-height: 14px; ">{{data_prodlist.prod_name}}<i class="material-icons right" style="font-size: 14px;">close</i>
              <i class="fa fa-wrench right grey-text" aria-hidden="true" ng-click="goToSite('prod/'+data_prodlist.prod_id, $event)"></i></span>
              <div  style="margin-top: 15px;">
              <i class="fa fa-shopping-cart right grey-text" aria-hidden="true" ng-click="goToSite('prod/'+data_prodlist.prod_id, $event)"></i>
              <i class="fa fa-thumbs-up right grey-text" aria-hidden="true"> 99</i>
              <i class="fa fa-heart right grey-text" aria-hidden="true"> 88</i>
              </div>
              <br>
              <p ng-if="data_prodlist.prod_desc">{{data_prodlist.prod_desc}}</p>
              <p ng-if="data_prodlist.prod_content">{{data_prodlist.prod_content}}</p>

            </div>
          </div>
        </div>
        <a class="btn-floating btn-large waves-effect waves-light red" style="position: fixed; right: 15px; bottom: 63px;" ng-click="goToSite('prod', $event)"><i class="material-icons">add</i></a>
      </div>
    </form>
  </div>
</div> <!-- /container -->
<div style="width:100%" ng-controller="InputController">
</div>