
<div style="width:100%" ng-controller="ShopCtrl">
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <span style="font-size: x-large;">Shop Detail</span>
        </div>
        <div class="col s12">
            <ul tabs  reload="allTabContentLoaded">
                <li class="tab col s4"><a ng-click="ShopTab('detail')"  style="color: rgba(238,110,115,0.7);">
                  <center ng-if="shopgroup != 'detail'">Detail</center>
                  <center ng-if="shopgroup == 'detail'"><strong>Detail</strong></center>
                  </a>
                  <div ng-if="shopgroup == 'detail'" style="bottom: 0;height: 2px;background-color: #f6b2b5;will-change: left, right;"></div>
                </li>
                <li class="tab col s4"><a ng-click="ShopTab('contact')" style="color: rgba(238,110,115,0.7);">
                  <center ng-if="shopgroup != 'contact'">Contact</center>
                  <center ng-if="shopgroup == 'contact'"><strong>Contact</strong></center>
                  </a>
                  <div ng-if="shopgroup == 'contact'" style="bottom: 0;height: 2px;background-color: #f6b2b5;will-change: left, right;"></div>
                </li>
                <li class="tab col s4"><a ng-click="ShopTab('address')" style="color: rgba(238,110,115,0.7);">
                  <center ng-if="shopgroup != 'address'">Address</center>
                  <center ng-if="shopgroup == 'address'"><strong>Address</strong></center>
                  </a>
                  <div ng-if="shopgroup == 'address'" style="bottom: 0;height: 2px;background-color: #f6b2b5;will-change: left, right;"></div>
                </li>
            </ul>
            <br><br>
        </div>
        <div ng-show="shopgroup == 'detail'" >
          <div class="input-field col s12">
            <input id="shop_name" type="text" class="validate" ng-model="shop.shop_name">
            <label for="shop_name">Shop Name</label>
          </div>
          <div class="input-field col s6">
            <input id="shop_reg_no" type="text" class="validate" ng-model="shop.shop_reg_no">
            <label for="shop_reg_no">Company Register No.</label>
          </div>
          <div class="input-field col s6">
            <input id="shop_gst_no" type="text" class="validate" ng-model="shop.shop_gst_no">
            <label for="shop_gst_no">Company GST No.</label>
          </div>
          <div class="input-field col s12">
            <textarea class="materialize-textarea" ng-model="shop.shop_desc"></textarea>
            <label for="shop_name">Shop Description</label>
          </div>
        </div>
        <div ng-show="shopgroup == 'contact'" >
          <div class="input-field col s6">
            <input id="shop_tel" type="tel" class="validate" ng-model="shop.shop_tel">
            <label for="shop_tel">Shop Tel</label>
          </div>
          <div class="input-field col s6">
            <input id="shop_mobile" type="tel" class="validate" ng-model="shop.shop_mobile">
            <label for="shop_mobile">Shop Mobile</label>
          </div>
          <div class="input-field col s6">
            <input id="shop_website" type="text" class="validate" ng-model="shop.shop_website">
            <label for="shop_website">Shop Website</label>
          </div>
          <div class="input-field col s6">
            <input id="shop_email" type="email" class="validate" ng-model="shop.shop_email">
            <label for="shop_email" data-error="wrong" data-success="right">Shop Email</label>
          </div>
        </div>
        <div ng-show="shopgroup == 'address'" >
          <div class="input-field col s12">
            <textarea class="materialize-textarea" ng-model="shop.shop_address"></textarea>
            <label for="shop_address">Shop Address</label>
          </div>
          <div class="input-field col s6">
            <input id="shop_postcode" type="text" class="validate" ng-model="shop.shop_postcode">
            <label for="shop_postcode" >Shop Postcode</label>
          </div>
          <div class="input-field col s6">
            <input id="shop_city" type="text" class="validate" ng-model="shop.shop_city">
            <label for="shop_city">Shop City</label>
          </div>
          <div class="input-field col s6">
            <input id="shop_state" type="text" class="validate" ng-model="shop.shop_state">
            <label for="shop_state">Shop State</label>
          </div>
          <div class="input-field col s6">
            <input id="shop_country" type="text" class="validate" ng-model="shop.shop_country">
            <label for="shop_country">Shop Country</label>
          </div>
        </div>
        <div class="input-field col s12">
          <input type="hidden" ng-model="shop.shop_id">
          <button class="btn waves-effect waves-light" data-ng-click="SaveShopClick()">
            <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div> <!-- /container -->
<div style="width:100%" ng-controller="InputController">
</div>
